/* 
  ---------- MENU: BLACK -------------- 
*/

#navigation { width: 100%; font-size: 95%; }
#navigation, #navigation ul, #navigation ul li, #navigation ul li a  { margin: 0; }
#navigation, #navigation ul { padding: 0; }
#navigation ul li a , #navigation ul li  { display: block; float: left; }
#navigation ul { list-style: none; background: url(../images/menubg.gif) repeat-x 0 50%; overflow: hidden; border: 1px solid #1f1f1f; }
#navigation ul li { padding: 0 2px 0 0; background: url(../images/separator.gif) no-repeat 100% 50%; }
#navigation ul li a { color: #fff; font-weight: bold; text-decoration: none; }
#navigation ul li a:link, #navigation ul li a:visited { padding: 7px 10px; }
#navigation ul li a:hover, #navigation ul li a:active { background: url(../images/menubg_h.gif) repeat-x 0 50%; }
